.mbutton_container {
  vertical-align: middle;
  display: inline-block;
  height: 3.2em;
  width: 3.2em;
  padding: 6px;
  margin: 0.8em 2em;
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 30px;
}
